body {
  background-color: #0c57ad;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navBar{
  font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
  font-weight: 50;
}

.mainBody{
  width: 98vw;
  min-width: 1424px;
  margin-left: auto;
  margin-right: auto;
  border-radius: .5em;
}

.darkBlue {
  background-color: #263a5f
}

.darkerBlue{
  background-color: #142034;
}

.df {
  display: flex;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}

.fdr {
  flex-direction: row
}

.fdc {
  flex-direction: column
}

.navBar {
  font-size: 2em;
  padding: .75em;
}

.promptHalf{
  width: 55%;
  /* margin-right: 1em; */
}

.secHeader {
  padding: 1.5em 0em 1em 1.5em;
  border-bottom: 1px solid #6E7B81;
  font-weight: 600;
  letter-spacing: 0.10em;
}

.prompt{
  display: flex;
  width: 100%;
  height: 3em;
  max-height: 3em;
  /* padding: 1em 0em 1em 0em; */
  font-weight: 200;
  align-items: center;
}

.promptText{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0em 1em 0em 0em;
}

.fieldHalf{
  width: 45%;
}

.fieldSection{
  width: 100%;
}

.fieldHeader{
  padding: 0em .5em;
  display: flex;
  align-items: center;
  font-weight: 600;
  letter-spacing: 0.05em;
  border-bottom: 1px solid #6E7B81;
  height: 59px;
  max-height: 59px;
}

.field{
  display: flex;
  height: 1em;
  padding: 1em 0em 1em 0em;
  font-weight: 600;
  color:gold; 
  letter-spacing: 0.10em;
}

.success{
  padding: 0em .1em 0 .1em;
}
.metrics{
  background-color: #F54C08;
  padding: 0em .1em 0 .1em;
}

.addQ{
  position: absolute;
  transform: translate(1665px);
  font-size: 21px;
  width: 28px;
}

.subQ{
  position: absolute;
  transform: translate(1665px, 100%);
  font-size: 21px;
  width: 28px;
}

.screenshot{
  position: absolute;
  transform: translate(1580px, -200%)
}

