body {
  background-color: #0c57ad;
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: #0c57ad;
}

.navBar{
  font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
  font-weight: 50;
}

.mainBody{
  width: 98vw;
  min-width: 1424px;
  margin-left: auto;
  margin-right: auto;
  border-radius: .5em;
}

.darkBlue {
  background-color: #263a5f
}

.darkerBlue{
  background-color: #142034;
}

.df {
  display: flex;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}

.fdr {
  flex-direction: row
}

.fdc {
  flex-direction: column
}

.jcfe{
  justify-content: flex-end;
}

.pad {
  padding: 0em 1em 0em 1em;
}

.navBar {
  font-size: 2em;
  padding: .75em;
}

.promptHalf{
  width: 55%;
  /* margin-right: 1em; */
}

.secHeader {
  display: flex;
  align-items: center;
  padding: 1.5em 0em 1em 1.5em;
  border-top: 1px solid #6E7B81;
  letter-spacing: 0.10em;
  font-weight: 600;
  height: 2em;
  font-size: 1.5em;
}



.prompt{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 4em;
  /* padding: 1em 0em 1em 0em; */
  margin-top: auto;
  margin-bottom: auto;
}

.promptText{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: 2em;
  padding: 0em 1em 0em 0em;
  font-weight: 400;
  font-size: 1.2em;
}

.fieldHalf{
  width: 45%;
}

.fieldSection{
  width: 100%;
}

.fieldHeader{
  padding: 1.5em 0em 1em 0em;
  display: flex;
  align-items: center;
  font-weight: 600;
  letter-spacing: 0.05em;
  border-top: 1px solid #6E7B81;
  height: 2em;
  font-size: 1.5em;
}

.nobt {
  border-top: 0px;
}

.field{
  display: flex;
  align-items: center;
  height: 3em;
  max-height: 3em;
  margin-top: auto;
  margin-bottom: auto;
}

.fieldInput{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  letter-spacing: 0.10em;
  font-weight: 600;
  border-radius: .3em;
  max-width: 7.9em;
  height: 2.5em;
  font-size: 1.2em;
}

.fieldInputBlur {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F54C08;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0.10em;
  width: 7em;
  height: 2em;
}

.fieldInputBlurEmpty {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f50808;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0.10em;
  width: 7em;
  height: 2em;
  text-decoration: underline wavy 2px;
}

.fieldOutput {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gold;
  border-radius: .2em;
  width: 5em;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 0.10em;
}

.success{
  padding: 0em .1em 0 .1em;
}

.metrics{
  background-color: #F54C08;
  padding: 0em .1em 0 .1em;
}

.addQ{
  display: flex;
  justify-content: center;
  align-items:center;
  position: relative;
  font-size: 21px;
  width: 28px;
}

.subQ{
  display: flex;
    justify-content: center;
  align-items:center;
  position: relative;
  font-size: 21px;
  width: 28px;
}

.screenshot{
  display: flex;
}

